<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title></title>
</head>

<body>
  <header id="header">
    <img id="logo" src="/img/logo.png" alt="OtOl Developer" />
    <nav id="nav">
      <button
        aria-label="Abrir Menu"
        id="btn-mobile"
        aria-haspopup="true"
        aria-controls="menu"
        aria-expanded="false"
      >
        <span id="hamburger"></span>
      </button>
      <ul id="menu" role="menu">
        <li><a id="books" href="/">Livros</a></li>
        <li><a href="/register">Cadastrar</a></li>
      </ul>
    </nav>
  </header>
  <div class="space"></div>
  <script src="/js/script.js"></script>
</body>

</html>